* {
  line-height: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.header {
  position: absolute;
  z-index: 500;
  padding: 0;
}
.header--brown {
  background-color: rgba(113, 83, 67, 0.7);
}
.header--blue {
  background-color: rgba(15, 159, 214, 0.7);
}
@media (min-width: 768px) {
  .header {
    position: sticky;
    top: -4.3rem;
  }
}

.header__brand {
  line-height: 1.05263em;
  font-size: 2.6rem;
  font-weight: 500;
  margin-left: 4.1666666667%;
  padding: 0.5em 0.923076em;
  transition: background-color 0.4s;
}
.header--brown .header__brand:hover {
  background-color: #715343;
  color: #fff;
}
.header--blue .header__brand:hover {
  background-color: #0f9fd6;
  color: #fff;
}
@media (min-width: 576px) {
  .header__brand {
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .header__brand {
    font-size: 3.8rem;
    padding: 1.52631em 0.63157em 0.18421em;
  }
}
@media (min-width: 992px) {
  .header--plato .header__brand {
    margin-left: 4.1666666667%;
  }
}
@media (min-width: 1200px) {
  .header--plato .header__brand {
    margin-left: 8.3333333333%;
  }
}

.header__toggler {
  font-size: 1.7rem;
  margin-right: 8.3333333333%;
  border: none;
  border-radius: 0;
  padding: 0.75em 0.45em 0.75em;
  transition: background-color 0.4s;
}
.header--brown .header__toggler:hover {
  background-color: rgba(113, 83, 67, 0.5);
}
.header--blue .header__toggler:hover {
  background-color: rgba(15, 159, 214, 0.5);
}
.header__toggler:focus {
  box-shadow: none;
}
@media (min-width: 768px) {
  .header__toggler {
    font-size: 2.5rem;
    margin-right: 12.5%;
    padding-top: 2.232em;
  }
}

.header__nav .header__toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header--brown .header__navbar {
  background-color: rgba(113, 83, 67, 0.5);
}
.header--blue .header__navbar {
  background-color: rgba(15, 159, 214, 0.5);
}
@media (min-width: 992px) {
  .header__navbar {
    justify-content: flex-end;
    margin-right: 8.3333333333%;
  }
  .header .header__navbar {
    background-color: transparent;
  }
  .header--plato .header__navbar {
    margin-right: 4.1666666667%;
  }
}
@media (min-width: 1200px) {
  .header--plato .header__navbar {
    margin-right: 8.3333333333%;
  }
}

.header__link {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.4rem;
  font-weight: 400;
  display: inline-block;
  padding: 0.7777777em 0;
  transition: background-color 0.4s;
}
.header--brown .header__link:hover {
  background-color: rgba(113, 83, 67, 0.5);
  color: #fff;
}
.header--blue .header__link:hover {
  background-color: rgba(15, 159, 214, 0.5);
  color: #fff;
}
.header__link--activo {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .header__link {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .header__link {
    width: max-content;
    margin-right: 1.66666em;
    padding: 3.88888em 1.22222em 1.11111em;
  }
}

.title-secondary-section {
  background-color: #f7e794;
  background: url("../media/index/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 22%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
}
@media (min-width: 576px) {
  .title-secondary-section {
    background: url("../media/index/sm/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 22%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 768px) {
  .title-secondary-section {
    background: url("../media/index/md/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 33%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
    margin-top: -17.2rem;
  }
}
@media (min-width: 992px) {
  .title-secondary-section {
    background: url("../media/index/lg/hero-image.png") no-repeat center top, transparent radial-gradient(closest-side at 50% 33%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
    margin-top: -11.6969rem;
  }
}

.title-section__article--index {
  display: flex;
  flex-direction: column;
  margin-top: 8.4rem;
}
@media (min-width: 576px) {
  .title-section__article--index {
    margin-top: 11.2rem;
  }
}
@media (min-width: 768px) {
  .title-section__article--index {
    margin-top: 20.2rem;
  }
}
@media (min-width: 992px) {
  .title-section__article--index {
    margin-top: 37.1rem;
    margin-left: 4.1666666667%;
  }
}
@media (min-width: 1400px) {
  .title-section__article--index {
    margin-top: 36.3rem;
    margin-left: 8.3333333333%;
  }
}

.title-section__title--index {
  text-align: center;
  line-height: 1.05263em;
  color: #0f9fd6;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
}
@media (min-width: 296px) {
  .title-section__title--index {
    font-size: 2.6rem;
  }
}
@media (min-width: 346px) {
  .title-section__title--index {
    font-size: 3rem;
  }
}
@media (min-width: 576px) {
  .title-section__title--index {
    font-size: 3.8rem;
    margin-bottom: 0.60526em;
  }
}
@media (min-width: 768px) {
  .title-section__title--index {
    font-size: 5.7rem;
  }
}
@media (min-width: 992px) {
  .title-section__title--index {
    text-align: left;
    font-size: 3.8rem;
  }
}
@media (min-width: 1400px) {
  .title-section__title--index {
    font-size: 4.6rem;
  }
}

@media (min-width: 576px) {
  .title-section__parrafo--index {
    text-align: center;
    line-height: 1.625em;
    letter-spacing: 0.02em;
    color: #715343;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .title-section__parrafo--index {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .title-section__parrafo--index {
    text-align: left;
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .title-section__parrafo--index {
    letter-spacing: -0.02em;
  }
}
@media (min-width: 1400px) {
  .title-section__parrafo--index {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .title-section__social {
    margin-top: 11.95rem;
  }
}
@media (min-width: 992px) {
  .title-section__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .title-section__logos {
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .title-section__logos {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .title-section__link {
    transition: transform 0.4s, opacity 0.4s;
    opacity: 0.4;
  }
  .title-section__link:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .title-section__link:last-child {
    margin-top: 1.89rem;
  }
}

.title-section__arrow--index {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
}
@media (min-width: 576px) {
  .title-section__arrow--index {
    right: 1.8rem;
    bottom: 1.8rem;
  }
}
@media (min-width: 992px) {
  .title-section__arrow--index {
    position: static;
    transition: opacity 0.4s;
    opacity: 0.4;
    margin-top: 16.84rem;
  }
  .title-section__arrow--index:hover {
    opacity: 1;
  }
}

.secondary-section {
  padding-top: 7.4rem;
}
@media (min-width: 576px) {
  .secondary-section {
    padding-top: 6.15rem;
  }
}
@media (min-width: 768px) {
  .secondary-section {
    padding-top: 11.5rem;
  }
}
@media (min-width: 992px) {
  .secondary-section {
    margin-top: 10rem;
    padding-top: 10rem;
  }
}
@media (min-width: 1400px) {
  .secondary-section {
    margin-top: 7.5rem;
  }
}

.secondary-section__article:last-child {
  width: 100vw;
  background-color: #fff;
  padding: 11.5rem 0 9.15rem;
}
@media (min-width: 768px) {
  .secondary-section__article:last-child {
    padding: 15.6rem 0 12.3rem;
  }
}

.secondary-section__title {
  text-align: center;
  color: #ed7d3b;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.947368421em;
}
.secondary-section__title--color-weight {
  color: #0f9fd6;
  font-weight: 300;
}
@media (min-width: 346px) {
  .secondary-section__title {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  .secondary-section__title {
    font-size: 3.8rem;
  }
}

.secondary-section__parrafo {
  text-align: center;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  color: #715343;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 3.78611em;
}
@media (min-width: 296px) {
  .secondary-section__parrafo {
    font-size: 1.2rem;
  }
}
@media (min-width: 346px) {
  .secondary-section__parrafo {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) {
  .secondary-section__parrafo {
    letter-spacing: 0;
  }
}
@media (min-width: 768px) {
  .secondary-section__parrafo {
    font-size: 1.8rem;
  }
}

.secondary-section__image {
  margin-bottom: -1rem;
  filter: drop-shadow(2.5px 2.5px 5px #00000066);
}
@media (min-width: 768px) {
  .secondary-section__image {
    margin-bottom: -2.5rem;
    filter: drop-shadow(5px 5px 10px #00000066);
  }
}

.principal-section__article {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.principal-section__article--1 {
  background-color: #0f9fd6;
  background: url("../media/index/bg-1.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #52c9dd 0%, #0f9fd6 100%) 0% 0% no-repeat padding-box;
}
.principal-section__article--2 {
  background-color: #ed7d3b;
  background: url("../media/index/bg-2.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #ffa07b 0%, #ed7d3b 100%) 0% 0% no-repeat padding-box;
}
.principal-section__article--3 {
  background-color: #f7e794;
  background: url("../media/index/bg-3.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
}
@media (min-width: 576px) {
  .principal-section__article {
    height: 43.1rem;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .principal-section__article--1 {
    background: url("../media/index/sm/bg-1.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #52c9dd 0%, #0f9fd6 100%) 0% 0% no-repeat padding-box;
  }
  .principal-section__article--2 {
    background: url("../media/index/sm/bg-2.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #ffa07b 0%, #ed7d3b 100%) 0% 0% no-repeat padding-box;
  }
  .principal-section__article--3 {
    background: url("../media/index/sm/bg-3.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 768px) {
  .principal-section__article {
    height: 64.1rem;
  }
  .principal-section__article--1 {
    background: url("../media/index/md/bg-1.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #52c9dd 0%, #0f9fd6 100%) 0% 0% no-repeat padding-box;
  }
  .principal-section__article--2 {
    background: url("../media/index/md/bg-2.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #ffa07b 0%, #ed7d3b 100%) 0% 0% no-repeat padding-box;
  }
  .principal-section__article--3 {
    background: url("../media/index/md/bg-3.png") no-repeat center, transparent radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%) 0% 0% no-repeat padding-box;
  }
}
@media (min-width: 992px) {
  .principal-section__article {
    height: 100vh;
    min-height: 76.8rem;
    max-height: 108rem;
  }
  .principal-section__article--1 {
    background: radial-gradient(closest-side at 33% 50%, #52c9dd 0%, #0f9fd6 100%);
  }
  .principal-section__article--2 {
    background: radial-gradient(closest-side at 67% 50%, #ffa07b 0%, #ed7d3b 100%);
  }
  .principal-section__article--3 {
    background: radial-gradient(closest-side at 33% 50%, #fff 0%, #f7e794 100%);
  }
}

@media (min-width: 992px) {
  .principal-section__article--2 .principal-section__picture {
    margin-left: -8.3333333333%;
    padding-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .principal-section__article--2 .principal-section__picture {
    margin-left: -4.1666666667%;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .principal-section__image {
    filter: drop-shadow(10px 10px 15px #00000066);
  }
}

.principal-section__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .principal-section__description {
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .principal-section__article--2 .principal-section__description {
    margin-left: 12.5%;
  }
}

.principal-section__title {
  text-align: center;
  text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.15);
  line-height: 1.05263em;
  color: #ff5f00;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.605263157em;
}
.principal-section__article--2 .principal-section__title {
  color: #00b9ff;
}
.principal-section__article--3 .principal-section__title {
  color: #0f9fd6;
}
@media (min-width: 576px) {
  .principal-section__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  .principal-section__title {
    font-size: 5.7rem;
  }
}
@media (min-width: 992px) {
  .principal-section__title {
    text-align: left;
    font-size: 3.8rem;
    font-weight: 600;
  }
}

.principal-section__parrafo {
  text-align: center;
  line-height: 1.75em;
  letter-spacing: 0.02em;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2.25em;
}
.principal-section__article--3 .principal-section__parrafo {
  color: #715343;
}
@media (min-width: 768px) {
  .principal-section__parrafo {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  .principal-section__parrafo {
    text-align: left;
    letter-spacing: -0.012em;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .principal-section__parrafo {
    width: 94.736842%;
    letter-spacing: 0.03em;
  }
}

.principal-section__button {
  letter-spacing: 0.03em;
  color: #f7e794;
  font-size: 1.8rem;
  font-weight: 400;
  transition: color 0.4s, background-color 0.4s;
  border: 0.007692em solid #f7e794;
  padding: 0.76923em 0.84615em;
}
@media (min-width: 768px) {
  .principal-section__button {
    font-size: 2.6rem;
  }
}
@media (min-width: 992px) {
  .principal-section__button {
    color: #715343;
    border-color: #715343;
  }
}
.principal-section__button:hover {
  color: #715343;
  background-color: #f7e794;
}
@media (min-width: 992px) {
  .principal-section__button:hover {
    color: #fff;
    background-color: #715343;
  }
}
.principal-section__button--color {
  color: #715343;
  border-color: #715343;
}
@media (min-width: 992px) {
  .principal-section__button--color {
    color: #ed7d3b;
    border-color: #ed7d3b;
  }
}
.principal-section__button--color:hover {
  color: #fff;
  background-color: #715343;
}
@media (min-width: 992px) {
  .principal-section__button--color:hover {
    background-color: #ed7d3b;
  }
}

.main-background {
  background-color: #f7e794;
  background: url("../media/menu/hero-image.png") no-repeat center top, radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
}
@media (min-width: 576px) {
  .main-background {
    background: url("../media/menu/sm/hero-image.png") no-repeat center top, radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
  }
}
@media (min-width: 768px) {
  .main-background {
    background: url("../media/menu/md/hero-image.png") no-repeat center top, radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
    margin-top: -17.2rem;
  }
}
@media (min-width: 992px) {
  .main-background {
    background: url("../media/menu/lg/hero-image.png") no-repeat right top, radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
    margin-top: -11.6969rem;
  }
}
@media (min-width: 1200px) {
  .main-background {
    background: url("../media/menu/xl/hero-image.png") no-repeat right top, radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
  }
}
@media (min-width: 1400px) {
  .main-background {
    background: url("../media/menu/xxl/hero-image.png") no-repeat right top, radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
  }
}

.title-section__article--menu {
  margin-top: 10.6rem;
  margin-left: 4.1666666667%;
  background-color: rgba(43, 0, 0, 0.5);
  padding: 4rem 0 5.1rem;
}
@media (min-width: 768px) {
  .title-section__article--menu {
    margin-top: 23.15rem;
    margin-left: 8.3333333333%;
  }
}
@media (min-width: 992px) {
  .title-section__article--menu {
    margin-top: 18.2rem;
    margin-left: 4.1666666667%;
    background-color: transparent;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .title-section__article--menu {
    margin-top: 19.3rem;
  }
}

.title-section__title--menu {
  text-align: center;
  text-shadow: 0.1em 0.1em 0.333333em rgba(0, 0, 0, 0.6);
  line-height: 1.1578947em;
  color: #00b9ff;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.6842105em;
}
@media (min-width: 576px) {
  .title-section__title--menu {
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  .title-section__title--menu {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  .title-section__title--menu {
    text-align: left;
    text-shadow: 0.1em 0.1em 0.333333em rgba(0, 0, 0, 0.16);
    color: #0f9fd6;
    font-size: 7.6rem;
  }
}
@media (min-width: 1400px) {
  .title-section__title--menu {
    font-size: 8.6rem;
  }
}

.title-section__parrafo--menu {
  width: 90.90909%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .title-section__parrafo--menu {
    width: 80%;
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .title-section__parrafo--menu {
    width: 74.21875%;
    text-align: left;
    letter-spacing: -0.015em;
    color: #715343;
    font-weight: 500;
    margin: 0 0 2.7777777em;
  }
}
@media (min-width: 1200px) {
  .title-section__parrafo--menu {
    width: 71.428571%;
  }
}
@media (min-width: 1400px) {
  .title-section__parrafo--menu {
    width: 78.571428%;
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .title-section__arrow--menu {
    transition: opacity 0.4s;
    opacity: 0.4;
  }
  .title-section__arrow--menu:hover {
    opacity: 1;
  }
}

.principal-section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rem auto;
}
@media (min-width: 576px) {
  .principal-section__cards {
    margin-top: 30rem;
  }
}
@media (min-width: 768px) {
  .principal-section__cards {
    display: grid;
    grid-template-areas: "plato-1 plato-2" "plato-3 plato-4" "plato-5 plato-6" "plato-7 plato-8" "plato-9 plato-9";
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10rem;
    grid-column-gap: 6rem;
  }
}
@media (min-width: 992px) {
  .principal-section__cards {
    grid-template-areas: "plato-1 plato-2 plato-3" "plato-4 plato-5 plato-6" "plato-7 plato-8 plato-9";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8rem;
    grid-column-gap: 2rem;
    margin: 16rem auto;
  }
}
@media (min-width: 1200px) {
  .principal-section__cards {
    grid-row-gap: 11.2rem;
    grid-column-gap: 7.25rem;
    margin: 22.4rem auto;
  }
}
@media (min-width: 1400px) {
  .principal-section__cards {
    grid-column-gap: 15.5rem;
    margin-top: 25.5rem;
  }
}

.principal-section__card {
  width: 100%;
  min-width: 26rem;
  max-width: 30rem;
  height: 48.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
  background-color: rgba(237, 125, 59, 0.2);
  margin-bottom: 7.5rem;
  box-shadow: 5px 5px 10px #00000020;
}
.principal-section__card:hover {
  background-color: rgba(237, 125, 59, 0.5);
}
@media (min-width: 576px) {
  .principal-section__card {
    max-width: none;
    height: 26rem;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10rem;
  }
}
@media (min-width: 768px) {
  .principal-section__card {
    max-width: 30rem;
    height: 48.6rem;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .principal-section__card--plato-1 {
    grid-area: plato-1;
  }
  .principal-section__card--plato-2 {
    grid-area: plato-2;
  }
  .principal-section__card--plato-3 {
    grid-area: plato-3;
  }
  .principal-section__card--plato-4 {
    grid-area: plato-4;
  }
  .principal-section__card--plato-5 {
    grid-area: plato-5;
  }
  .principal-section__card--plato-6 {
    grid-area: plato-6;
  }
  .principal-section__card--plato-7 {
    grid-area: plato-7;
  }
  .principal-section__card--plato-8 {
    grid-area: plato-8;
  }
  .principal-section__card--plato-9 {
    grid-area: plato-9;
    justify-self: center;
  }
}

.principal-section__card__picture {
  margin-bottom: 5rem;
}
@media (min-width: 576px) {
  .principal-section__card__picture {
    margin: 3rem;
  }
}
@media (min-width: 768px) {
  .principal-section__card__picture {
    margin: 0 0 5rem 0;
  }
}
.principal-section__card--plato-5 .principal-section__card__picture {
  margin-bottom: 1.84rem;
}
@media (min-width: 576px) {
  .principal-section__card--plato-5 .principal-section__card__picture {
    margin: 1.4rem 3rem 1.4rem 1.4rem;
  }
}
@media (min-width: 768px) {
  .principal-section__card--plato-5 .principal-section__card__picture {
    margin: 0 0 1.84rem 0;
  }
}

.principal-section__card__image {
  transition: transform 0.4s;
  filter: drop-shadow(7px 7px 10px #00000066);
}
.principal-section__card:hover .principal-section__card__image {
  transform: scale(1.125, 1.125);
}

.principal-section__card__price, .principal-section__card__title {
  line-height: 1.5em;
  font-size: 1.8rem;
  margin-bottom: 1.38888888em;
}

.principal-section__card__title {
  color: #0f9fd6;
  font-weight: 500;
}
@media (min-width: 576px) {
  .principal-section__card__title {
    width: 33.1111111%;
  }
}
@media (min-width: 768px) {
  .principal-section__card__title {
    width: auto;
  }
}

.principal-section__card__price {
  color: #715343;
  font-weight: 300;
}

.principal-section__card__link {
  letter-spacing: 0.03em;
  color: #0f9fd6;
  font-size: 1.8rem;
  font-weight: 400;
  transition: color 0.4s, background-color 0.4s;
  border: 0.05555em solid #0f9fd6;
  padding: 0.55555em 0.66666em;
}
.principal-section__card__link:hover {
  color: #fff;
  background-color: #0f9fd6;
}

.body-background {
  background: #f7e794;
  background: radial-gradient(closest-side at 50% 50%, #fff 0%, #f7e794 100%);
}

.title-section--plato {
  padding-top: 10.3rem;
}
@media (min-width: 768px) {
  .title-section--plato {
    padding-top: 4.3rem;
  }
}

.title-section__article--plato {
  min-width: 26rem;
  max-width: 31.25rem;
  height: 131.5375vw;
  min-height: 42.092rem;
  max-height: 45.159rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(237, 125, 59, 0.2);
  padding: 3.3rem 0 0;
}
@media (min-width: 576px) {
  .title-section__article--plato {
    max-width: none;
    height: 45.5rem;
  }
}
@media (min-width: 768px) {
  .title-section__article--plato {
    align-items: flex-start;
    padding: 2.8rem 0 3.78rem 6.5rem;
  }
}
@media (min-width: 992px) {
  .title-section__article--plato {
    padding: 3.7rem 0 4.8rem 7.1rem;
  }
}
@media (min-width: 1200px) {
  .title-section__article--plato {
    padding: 4.5rem 0 5.8rem 8.5rem;
  }
}
@media (min-width: 1400px) {
  .title-section__article--plato {
    padding: 6.78rem 0 6.1rem 8.5rem;
  }
}
.title-section__article--plato-5 {
  height: 117.928125vw;
  min-height: 37.737rem;
  max-height: 40.768rem;
}
.title-section__article--plato-8 {
  height: 122.1875vw;
  min-height: 39.1rem;
  max-height: 42.525rem;
}
@media (min-width: 576px) {
  .title-section__article--plato, .title-section__article--plato-5, .title-section__article--plato-8 {
    min-height: 0;
    max-height: none;
  }

  .title-section__article--plato-5, .title-section__article--plato-8 {
    height: 41.8rem;
  }
}
@media (min-width: 768px) {
  .title-section__article--plato, .title-section__article--plato-5, .title-section__article--plato-8 {
    height: auto;
  }
}
.title-section__title--plato {
  text-align: center;
  line-height: 1.0526315em;
  color: #0f9fd6;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 0.22631578em;
}
@media (min-width: 768px) {
  .title-section__title--plato {
    text-align: left;
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  .title-section__title--plato {
    font-size: 3.8rem;
  }
}
@media (min-width: 1200px) {
  .title-section__title--plato {
    margin-bottom: 0.605263em;
  }
}
@media (min-width: 1400px) {
  .title-section__title--plato {
    font-size: 4.4rem;
  }
}

.title-section__price {
  letter-spacing: 0.03em;
  color: #ed7d3b;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.48076923em;
}
@media (min-width: 768px) {
  .title-section__price {
    font-size: 2.3rem;
  }
}
@media (min-width: 992px) {
  .title-section__price {
    font-size: 2.6rem;
  }
}
@media (min-width: 1200px) {
  .title-section__price {
    margin-bottom: 0.961538em;
  }
}
@media (min-width: 1400px) {
  .title-section__price {
    font-size: 3rem;
  }
}

.title-section__parrafo--plato {
  text-align: center;
  line-height: 1.5em;
  color: #715343;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.99375em;
}
@media (min-width: 320px) {
  .title-section__parrafo--plato {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .title-section__parrafo--plato {
    text-align: left;
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .title-section__parrafo--plato {
    font-size: 1.8rem;
    margin-bottom: 2.5em;
  }
}
@media (min-width: 1400px) {
  .title-section__parrafo--plato {
    font-size: 2rem;
  }
}

.title-section__button {
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 1.4rem;
  font-weight: 400;
  transition: color 0.4s, background-color 0.4s;
  padding: 0.55555em 0.66666em;
}
@media (min-width: 768px) {
  .title-section__button {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .title-section__button {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  .title-section__button {
    font-size: 2rem;
  }
}
.title-section__button:first-child {
  color: #fff;
  margin-right: 1.111111em;
  background-color: #0f9fd6;
}
.title-section__button:first-child:hover {
  color: #fff;
  background-color: #0087bb;
}
.title-section__button:last-child {
  color: #ed7d3b;
  border: 0.05555em solid #ed7d3b;
}
.title-section__button:last-child:hover {
  color: #fff;
  background-color: #ed7d3b;
}

.title-section__picture {
  min-width: 26rem;
  max-width: 31.25rem;
  margin-top: clamp(-15.52rem, -41.4021333vw, -12.91rem);
}
@media (min-width: 576px) {
  .title-section__picture {
    max-width: none;
    margin-top: -15.65rem;
  }
}
@media (min-width: 768px) {
  .title-section__picture {
    margin-left: -25%;
  }
}
@media (min-width: 992px) {
  .title-section__picture {
    margin-right: 4.1666666667%;
    margin-left: -20.8333333333%;
  }
}
@media (min-width: 1200px) {
  .title-section__picture {
    margin-right: 0;
    margin-left: -16.6666666667%;
  }
}
.title-section__picture--plato-5 {
  margin-top: clamp(-14.48rem, -38.6229333vw, -12.05rem);
}
@media (min-width: 576px) {
  .title-section__picture--plato-5 {
    margin-top: -14.6rem;
  }
}
@media (min-width: 768px) {
  .title-section__picture--plato-5 {
    margin-left: -33.3333333333%;
  }
}
@media (min-width: 992px) {
  .title-section__picture--plato-5 {
    margin-left: -29.1666666667%;
  }
}
@media (min-width: 1200px) {
  .title-section__picture--plato-5 {
    margin-left: -25%;
  }
}

@media (min-width: 768px) {
  .title-section__picture, .title-section__picture--plato-5 {
    margin-top: 0;
  }
}
.title-section__image {
  filter: drop-shadow(10px 10px 20px #00000066);
}

.title-section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.7rem;
}
@media (min-width: 576px) {
  .title-section__cards {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .title-section__cards {
    margin-top: 6.42rem;
  }
}
@media (min-width: 992px) {
  .title-section__cards {
    flex-direction: column;
    margin-top: 0;
  }
}

.title-section__card {
  width: 16rem;
  height: 17.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
  background-color: rgba(237, 125, 59, 0.2);
  margin-bottom: 4rem;
  box-shadow: 3px 3px 10px #00000020;
}
.title-section__card:hover {
  background-color: rgba(237, 125, 59, 0.5);
}
@media (min-width: 576px) {
  .title-section__card {
    margin-right: 4rem;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .title-section__card {
    width: 30rem;
    height: 15rem;
    flex-direction: row;
    margin-right: 6rem;
  }
}
@media (min-width: 992px) {
  .title-section__card {
    width: 16rem;
    height: 17.6rem;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .title-section__card {
    width: 15rem;
    height: 21.1rem;
  }
}

.title-section__card__picture {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .title-section__card__picture {
    margin-right: 2.8rem;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .title-section__card__picture {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .title-section__card__picture {
    margin-bottom: 2.7rem;
  }
}
.title-section__card__picture--plato-5 {
  margin-bottom: 0.82rem;
}
@media (min-width: 768px) {
  .title-section__card__picture--plato-5 {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .title-section__card__picture--plato-5 {
    margin-bottom: 0.82rem;
  }
}
@media (min-width: 1200px) {
  .title-section__card__picture--plato-5 {
    margin-bottom: 1.6rem;
  }
}

.title-section__card__image {
  filter: drop-shadow(3px 3px 5px #00000066);
}

.title-section__card__title {
  text-align: center;
  line-height: 1.25em;
  color: #0f9fd6;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .title-section__card__title {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .title-section__card__title {
    text-align: center;
  }
}

.info-nutricional {
  margin-top: 6.7rem;
  margin-bottom: 6.7rem;
}
@media (min-width: 576px) {
  .info-nutricional {
    margin-bottom: 14rem;
  }
}
@media (min-width: 768px) {
  .info-nutricional {
    margin-top: 11rem;
    margin-bottom: 23rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional {
    margin-top: 23rem;
  }
}

.info-nutricional__principal {
  min-width: 26rem;
  max-width: 31.25rem;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #00000035;
  background-color: rgba(237, 125, 59, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.2rem 0 3.63rem;
}
.info-nutricional__principal--plato-1 {
  background-image: url("../media/plato-1/info-nutricional.png");
}
.info-nutricional__principal--plato-2 {
  background-image: url("../media/plato-2/info-nutricional.png");
}
.info-nutricional__principal--plato-3 {
  background-image: url("../media/plato-3/info-nutricional.png");
}
.info-nutricional__principal--plato-4 {
  background-image: url("../media/plato-4/info-nutricional.png");
}
.info-nutricional__principal--plato-5 {
  background-image: url("../media/plato-5/info-nutricional.png");
  background-position: right 1.2rem top -3rem;
}
.info-nutricional__principal--plato-6 {
  background-image: url("../media/plato-6/info-nutricional.png");
}
.info-nutricional__principal--plato-7 {
  background-image: url("../media/plato-7/info-nutricional.png");
}
.info-nutricional__principal--plato-8 {
  background-image: url("../media/plato-8/info-nutricional.png");
}
.info-nutricional__principal--plato-9 {
  background-image: url("../media/plato-9/info-nutricional.png");
}
@media (min-width: 576px) {
  .info-nutricional__principal {
    min-width: 0;
    max-width: none;
    padding: 6.3rem 0;
  }
  .info-nutricional__principal--plato-1 {
    background-image: url("../media/plato-1/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-2 {
    background-image: url("../media/plato-2/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-3 {
    background-image: url("../media/plato-3/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-4 {
    background-image: url("../media/plato-4/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-5 {
    background-image: url("../media/plato-5/sm/info-nutricional.png");
    background-position: center top -2rem;
  }
  .info-nutricional__principal--plato-6 {
    background-image: url("../media/plato-6/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-7 {
    background-image: url("../media/plato-7/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-8 {
    background-image: url("../media/plato-8/sm/info-nutricional.png");
  }
  .info-nutricional__principal--plato-9 {
    background-image: url("../media/plato-9/sm/info-nutricional.png");
  }
}
@media (min-width: 768px) {
  .info-nutricional__principal {
    padding-bottom: 7.5rem;
  }
  .info-nutricional__principal--plato-1 {
    background-image: url("../media/plato-1/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-2 {
    background-image: url("../media/plato-2/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-3 {
    background-image: url("../media/plato-3/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-4 {
    background-image: url("../media/plato-4/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-5 {
    background-image: url("../media/plato-5/md/info-nutricional.png");
    background-position: center top -5rem;
  }
  .info-nutricional__principal--plato-6 {
    background-image: url("../media/plato-6/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-7 {
    background-image: url("../media/plato-7/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-8 {
    background-image: url("../media/plato-8/md/info-nutricional.png");
  }
  .info-nutricional__principal--plato-9 {
    background-image: url("../media/plato-9/md/info-nutricional.png");
  }
}
@media (min-width: 992px) {
  .info-nutricional__principal {
    background-position: 45.35rem;
    padding-right: 7.7rem;
    padding-left: 7.7rem;
  }
  .info-nutricional__principal--plato-1 {
    background-image: url("../media/plato-1/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-2 {
    background-image: url("../media/plato-2/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-3 {
    background-image: url("../media/plato-3/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-4 {
    background-image: url("../media/plato-4/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-5 {
    background-image: url("../media/plato-5/lg/info-nutricional.png");
    background-position: 30rem;
  }
  .info-nutricional__principal--plato-6 {
    background-image: url("../media/plato-6/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-7 {
    background-image: url("../media/plato-7/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-8 {
    background-image: url("../media/plato-8/lg/info-nutricional.png");
  }
  .info-nutricional__principal--plato-9 {
    background-image: url("../media/plato-9/lg/info-nutricional.png");
  }
}
@media (min-width: 1400px) {
  .info-nutricional__principal--plato-5 {
    background-position: 45rem;
  }
}

.info-nutricional__title {
  text-align: center;
  line-height: 1.31578947em;
  color: #0087bb;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.42105263em;
}
@media (min-width: 360px) {
  .info-nutricional__title {
    font-size: 1.8rem;
  }
}
@media (min-width: 576px) {
  .info-nutricional__title {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  .info-nutricional__title {
    font-size: 3.4rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional__title {
    font-size: 3.8rem;
  }
}

.info-nutricional__kcal {
  text-align: center;
  letter-spacing: 0.03em;
  color: #ed7d3b;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 0.25em;
}
@media (min-width: 576px) {
  .info-nutricional__kcal {
    font-size: 5.7rem;
  }
}
@media (min-width: 768px) {
  .info-nutricional__kcal {
    font-size: 7.6rem;
  }
}
.info-nutricional__button, .info-nutricional__portion {
  text-align: center;
  color: #715343;
  font-size: 1.4rem;
  font-weight: 400;
}

.info-nutricional__portion {
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .info-nutricional__portion {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .info-nutricional__portion {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional__title, .info-nutricional__kcal, .info-nutricional__portion {
    text-align: left;
  }
}
.info-nutricional__details {
  min-width: 26rem;
  max-width: 31.25rem;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .info-nutricional__details {
    min-width: 0;
    max-width: none;
  }
}

.info-nutricional__button {
  width: 100%;
  transition: color 0.4s, background-color 0.4s;
  margin: 0.3846153846em 0;
  border: none;
  box-shadow: 0.115384em 0.115384em 0.3846153846em #00000020;
  background-color: rgba(15, 159, 214, 0.2);
  cursor: pointer;
  padding: 0.3846153846em 0;
}
@media (min-width: 576px) {
  .info-nutricional__button {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional__button {
    font-size: 2.6rem;
  }
}
.info-nutricional__button:hover {
  color: #fff;
  background-color: rgba(15, 159, 214, 0.5);
}

.info-nutricional__content {
  margin-top: -0.2692307692rem;
  margin-bottom: 0.5384615385rem;
  box-shadow: 5px 5px 10px #00000035;
  background-color: rgba(15, 159, 214, 0.5);
  padding: 2.94rem 0 3.36rem;
}
@media (min-width: 576px) {
  .info-nutricional__content {
    margin-top: -0.4230769231rem;
    margin-bottom: 0.8461538462rem;
    padding: 4.5rem 4.3rem 6.23rem;
  }
}
@media (min-width: 768px) {
  .info-nutricional__content {
    padding: 3.1rem 5.4rem 4.86rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional__content {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    padding: 4.2rem 8.6rem 6.63rem;
  }
}
@media (min-width: 1200px) {
  .info-nutricional__content {
    padding: 4.8rem 10.2rem 7.7rem;
  }
}
@media (min-width: 1400px) {
  .info-nutricional__content {
    padding: 5.56rem 12.1rem 8.9rem;
  }
}

.info-nutricional__content__title {
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.28947368em;
}
@media (min-width: 768px) {
  .info-nutricional__content__title {
    text-align: left;
  }
}
.info-nutricional__g-proportion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .info-nutricional__g-proportion {
    flex-direction: row;
    align-items: flex-start;
  }
}

.info-nutricional__g {
  width: 4.94736842em;
  text-align: center;
  color: #fff;
  font-size: 3.4rem;
  font-weight: 400;
  margin-bottom: 0;
  box-shadow: 0.06578947em 0.06578947em 0.13157894em #00000050;
  background-color: #ed7d3b;
  padding: 0.55263157em 0;
}
@media (min-width: 576px) {
  .info-nutricional__content__title, .info-nutricional__g {
    font-size: 4.8rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional__content__title, .info-nutricional__g {
    font-size: 6.4rem;
  }
}
@media (min-width: 1200px) {
  .info-nutricional__content__title, .info-nutricional__g {
    font-size: 7.6rem;
  }
}
@media (min-width: 1400px) {
  .info-nutricional__content__title, .info-nutricional__g {
    font-size: 8.8rem;
  }
}
.info-nutricional__proportion {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 576px) {
  .info-nutricional__proportion {
    width: 100%;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .info-nutricional__proportion {
    width: auto;
    display: block;
  }
}
.info-nutricional__proportion li {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}
@media (min-width: 576px) {
  .info-nutricional__proportion li {
    font-size: 1.65rem;
  }
}
@media (min-width: 992px) {
  .info-nutricional__proportion li {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .info-nutricional__proportion li {
    font-size: 2.6rem;
  }
}
@media (min-width: 1400px) {
  .info-nutricional__proportion li {
    font-size: 3rem;
  }
}
.info-nutricional__proportion li:first-child {
  margin-top: 1.60625em;
}
@media (min-width: 576px) {
  .info-nutricional__proportion li:first-child {
    margin-top: 0;
  }
  .info-nutricional__content--carbohidratos .info-nutricional__proportion li:first-child {
    margin-right: 0.77575757em;
  }
}
@media (min-width: 768px) {
  .info-nutricional__content--carbohidratos .info-nutricional__proportion li:first-child {
    margin-right: 0;
  }
}
.info-nutricional__proportion li:not(:last-child) {
  margin-bottom: 0.8em;
}
@media (min-width: 576px) {
  .info-nutricional__proportion li:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .info-nutricional__proportion li:not(:last-child) {
    margin-bottom: 0.40384615em;
  }
}
.info-nutricional__proportion div:first-child {
  width: 5.07692307em;
  text-align: center;
  box-shadow: 0.19230769em 0.19230769em 0.3846153846em #00000050;
  background-color: #715343;
  padding: 0.3846153846em 0;
}
@media (min-width: 576px) {
  .info-nutricional__proportion div:first-child {
    margin-top: 1.55757575em;
  }
}
@media (min-width: 768px) {
  .info-nutricional__proportion div:first-child {
    margin: 0 0.42307692em;
  }
}
.info-nutricional__proportion div:last-child {
  font-size: 1.4rem;
  margin-top: 0.4076923em;
}
@media (min-width: 576px) {
  .info-nutricional__proportion div:last-child {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .info-nutricional__proportion div:last-child {
    font-size: inherit;
    margin-top: 0;
  }
}

.info-nutricional__description {
  width: 80%;
  text-align: center;
  line-height: 2em;
  letter-spacing: -0.01em;
  color: #715343;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1.8333333333em auto 0;
}
@media (min-width: 576px) {
  .info-nutricional__description {
    width: auto;
    margin: 1.8333333333em 0 0;
  }
}
@media (min-width: 768px) {
  .info-nutricional__description {
    text-align: left;
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .info-nutricional__description {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  .info-nutricional__description {
    font-size: 2rem;
  }
}

.contact__form {
  margin: 4.1rem auto 4.8rem;
}
@media (min-width: 576px) {
  .contact__form {
    margin: 5.3rem auto 6rem;
  }
}
@media (min-width: 768px) {
  .contact__form {
    margin: 13.4rem auto;
  }
}
.contact__form--contact {
  margin: 8.2rem auto 7.5rem;
}
@media (min-width: 576px) {
  .contact__form--contact {
    margin-top: 10.6rem;
  }
}
@media (min-width: 768px) {
  .contact__form--contact {
    margin-top: 7.5rem;
  }
}

.contact__legend {
  text-align: center;
  line-height: 1.05263em;
  color: #ed7d3b;
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 1.21052em;
}
@media (min-width: 768px) {
  .contact__legend {
    font-size: 3.8rem;
  }
}

.contact__textarea::placeholder, .contact__textarea, .contact__input::placeholder, .contact__input {
  letter-spacing: 0.03em;
  color: #715343;
  font-size: 1.4rem;
  font-weight: 400;
}

.contact__textarea, .contact__input:not([type=submit]) {
  width: 100%;
  height: 3.6875em;
  margin-bottom: 1.5em;
  border: 0.0625em solid #715343;
  padding: 1.25em;
}

.contact__textarea::placeholder, .contact__input::placeholder {
  opacity: 0.4;
}

@media (min-width: 768px) {
  .contact__textarea::placeholder, .contact__textarea, .contact__input::placeholder, .contact__input {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .contact__input:not([type=submit]) {
    width: 96.842105%;
  }
}
.contact__input[type=submit] {
  width: 5.73076em;
  height: 2.76923em;
  color: #fff;
  font-size: 1.8rem;
  transition: background-color 0.4s;
  border: none;
  background-color: #0f9fd6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .contact__input[type=submit] {
    font-size: 2.6rem;
  }
}
.contact__input[type=submit]:hover {
  background-color: #0087bb;
}

.contact__textarea {
  height: 10.4375em;
  line-height: 1.75em;
  margin-bottom: 3.5em;
}
.footer {
  padding: 4.4rem 0;
}
.footer--brown {
  background-color: #715343;
}
.footer--blue {
  background-color: #0f9fd6;
}
@media (min-width: 576px) {
  .footer {
    padding: 5.6rem 0;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 10rem 0 11rem;
  }
}

.footer__data {
  margin-top: 8.71rem;
}
@media (min-width: 576px) {
  .footer__data {
    margin-top: 0;
  }
}

.footer__title {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 0.55263em;
}
@media (min-width: 576px) {
  .footer__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 3.8rem;
  }
}
@media (min-width: 992px) {
  .footer__title {
    text-align: left;
  }
}

.footer__parrafo {
  line-height: 1.5em;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}
@media (min-width: 320px) {
  .footer__parrafo {
    font-size: 1.2rem;
  }
}
@media (min-width: 576px) {
  .footer__parrafo {
    text-align: center;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .footer__parrafo {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .footer__parrafo {
    text-align: left;
  }
}

.footer__item {
  font-size: 1.2rem;
  font-weight: 300;
}
.footer__item:not(:last-child) {
  margin-bottom: 1.16666em;
}
@media (min-width: 576px) {
  .footer__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer__item:not(:last-child) {
    margin-bottom: 1.16666em;
  }
}
@media (min-width: 285px) {
  .footer__item {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) {
  .footer__item {
    font-size: 1.6rem;
  }
  .footer__item--1 {
    max-width: 30%;
    flex: 0 0 30%;
  }
  .footer__item--2, .footer__item--3 {
    max-width: 20%;
    flex: 0 0 20%;
    margin-left: 10%;
  }
  .footer__item--3 {
    margin-left: 20%;
  }
}
@media (min-width: 768px) {
  .footer__item {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .footer__item {
    max-width: none;
    margin-left: 0;
  }
}

.footer__link:hover {
  color: #fff;
  font-weight: 400;
  transition: font-weight 0.1s;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .footer__social {
    margin: 5.3rem auto;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer__social {
    margin: 7.5rem auto;
  }
}
@media (min-width: 992px) {
  .footer__social {
    margin: 0 auto;
    justify-content: flex-end;
  }
}

.footer__social__link:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}
.footer__social__link--facebook {
  margin-bottom: 1.89rem;
}
@media (min-width: 576px) {
  .footer__social__link--facebook {
    margin-right: 2.9rem;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
