@use "../../utilities/functions" as f;
@use "../../utilities/mixins" as mx;
@use "../../utilities/variables" as v;


//===========================================================================//
//                                                                           //
//                         TITLE SECTION MENU                                //
//                                                                           //
//===========================================================================//
//
//
//                           ESTRUCTURA HTML
//
//  <section c= "title-section">
//    <div>
//      <article c="title-section__article">
//        <h1 c="title-section__title"></h1>
//        <p c="title-section__parrafo"></p>
//        <a c="title-section__arrow">
//          <img>
//        </a>
//      </article>
//    </div>
//  </section>
//
//
//   Visualizar el documento HTML para poder conocer las
//   clases de Bootstrap que trabajan en conjunto con las
//   declaradas en esta hoja de estilo.
//
//  ¡IMPORTANTE! El 'rem' equivale a 10px ya que el 'font-size' de la etiqueta 'html' está al 62,5%.




.title-section__article--menu {
  margin:{
    top: 10.6rem;
    left: f.percentage-margin(0.5);//  Media columna de Bootstrap (ver estructura en 'utilities/functions').
  }
  background-color: v.$dark-brown;
  padding: 4rem 0 5.1rem;

//  Device Medium
  @include mx.responsive('md') {
    margin:{
      top: 23.15rem;
      left: f.percentage-margin(1);//  Una columna de Bootstrap.
    }
  }

//  Device Large
  @include mx.responsive('lg') {
    margin:{
      top: 18.2rem;
      left: f.percentage-margin(0.5);//  Media columna de Bootstrap.
    }
    background-color: transparent;
    padding: 0;
  }

//  Device X-Large
  @include mx.responsive('xxl') {
    margin-top: 19.3rem;
  }
}


.title-section__title--menu{
  @include mx.font-stack(
    $t-a: center,//  text-align
    $t-s: 0.1em 0.1em 0.333333em rgba(0, 0, 0, 0.6),//  text-shadow
    $l-h: 1.1578947em,//  line-height
    $c: v.$dodger-blue,//  color
    $f-s: 3rem,//  font-size
    $f-w: 'semi-bold',//  font-weight
  );
  margin-bottom: 0.6842105em;

//  Device Small
  @include mx.responsive('sm') {
    @include mx.font-stack($f-s: 3.8rem);//  font-size
  }


//  Device Medium
  @include mx.responsive('md') {
    @include mx.font-stack($f-s: 6rem);//  font-size
  }

//  Device Large
  @include mx.responsive('lg') {
    @include mx.font-stack(
      $t-a: left,//  text-align
      $t-s: 0.1em 0.1em 0.333333em rgba(0, 0, 0, 0.16),//  text-shadow
      $c: v.$light-blue,//  color
      $f-s: 7.6rem,//  font-size
    );
  }

//  Device XX-Large
  @include mx.responsive('xxl') {
    @include mx.font-stack($f-s: 8.6rem);//  font-size
  }
}


.title-section__parrafo--menu {
  @include mx.size(90.909090%);//  width
  @include mx.font-stack(
    $t-a: center,//  text-align
    $l-h: 1.5em,//  line-height
    $c: v.$white,//  color
    $f-s: 1.4rem,//  font-size
    $f-w: 'regular',//  font-weight
  );
  margin: 0 auto;//  Centra el elemento a la vez que elimina el 'margin' predeterminado de Bootstrap.

//  Device Medium
  @include mx.responsive('md') {
    @include mx.size(80%);//  width
    @include mx.font-stack($f-s: 1.8rem);//  font-size
  }

//  Device Large
  @include mx.responsive('lg') {
    @include mx.size(74.21875%);//  Limita su ancho para no afectar la legibilidad con el 'background-image' de fondo.
    @include mx.font-stack(
      $t-a: left,//  text-align
      $l-e: -0.015em,//  letter-spacing
      $c: v.$brown,//  color
      $f-w: 'medium',//  font-weight
    );
    margin: 0 0 2.7777777em;
  }

//  Device X-Large
  @include mx.responsive('xl') {
    @include mx.size(71.428571%);//  Limita su ancho para no afectar la legibilidad con el 'background-image' de fondo.
  }

//  Device XX-Large
  @include mx.responsive('xxl') {
    @include mx.size(78.571428%);//  Limita su ancho para no afectar la legibilidad con el 'background-image' de fondo.
    @include mx.font-stack($f-s: 2rem);//  font-size
  }
}


.title-section__arrow--menu {
//  Device Large
  @include mx.responsive('lg') {
    transition: opacity 0.4s;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}